<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Linkearlos -->
    <link href="/css/login.css" rel="stylesheet" type="text/css">
     <!-- Linkear Google Font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
     <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Roboto&display=swap" rel="stylesheet">
     <!-- Linkear íconos -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar"> 
            <div>
                <img src="images/logo-mercado-liebre.svg" alt="" class="logo-img">
            </div>
            <div>
                <form class="search-box" method="GET" action="">
                    <label for="search"></label>
                    <input type="text" placeholder="Buscar productos, marcas y más" id="search-box" name="search-box"><i class="fas fa-search"></i>
                </form>
            </div>
            <div>
                <p class="subtitle"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>  
        </div>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>



    <form class="login-form" action="/" method="GET">
        
        <div class="form-box">
            <label for="userId"></label>
            <input type="text" placeholder="Nombre de Usuario" id="userId" name="userId" required minlength="3">
        </div>

        <div class="form-box">
            <label for="userPassword"></label>
            <input type="password" placeholder="Contraseña" id="userPassword" name="userPassword" required minlength="8">
        </div>

        <div class="form-button">
            <button type="submit">Enviar</button>
        </div>
    </form>


    <footer class="footer-group">
        <div>
            <article class="footer-component">
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
    
            <article class="footer-component">
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
    
            <article class="footer-component">
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>

        <article class=copyright>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>

    </footer>

    
</body>
</html>